/* 调整表格行高 */
.md-typeset__table table:not([class]) td {
    padding-top: 0.7em !important;
    padding-bottom: 0.7em !important;
}

.md-typeset__table table:not([class]) th {
    padding-top: 0.7em !important;
    padding-bottom: 0.7em !important;
}


/* 使表格内容水平居中 */
.md-typeset__scrollwrap {
    text-align: center;
}
